.addproject {
    display: inline-table;
    position: absolute;
    height: 32vh;
    background-color: rgb(55, 48, 91);
    width: 12%;
    margin-left: 9%;
    margin-bottom: 5%;
    border-radius: 10px;
    margin-top: 22%;
    padding-top: 1%
}
.select {
    margin-left: 5px;
}
select:focus{
    outline: none;
}
    .color{
    background-color: #75688f;
    font-size: 20px;
    margin-left: 5%;
    cursor: pointer;
    color: rgb(255, 255, 255);
    border-radius: 2px;
}
.addprojectbehind {
    z-index: 1;
    width: 152%;
    display: flex;
    justify-content: center;
    position: fixed;
    height: 150vh;
    background-color: rgba(0, 0, 0, 0.658);
    margin-top: -28%;
    margin-left: -46%;
}

.addnewproject-input {
    margin-left: 1%;
    margin-bottom: 5%;
}

.btn-top-projectadd {
    margin-top: 10%;
    margin-right: 5%;
}
.updateproject{
    display: inline-table;
    position: absolute;
    height: auto;
    background-color: rgb(55, 48, 91);
    width: 11%;
    margin-left: 9%;
    border-radius: 10px;
    margin-top: 22%;
    padding-top: 0.5%;
}