.project{
    width: 100%;
}
.project-main-div{
overflow: auto;
width: auto;
margin-left: auto;
display: flex;
margin-top: 1%;
}
.project-table-div{
    margin-top: 4%;
    width: 100%;
 
}
#projectlist-table{
    width: 100%;
   
}

h2{
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
}
.open-folder{
    cursor: pointer;
}
.edit{
    cursor: pointer;
}
.dustbin{
    cursor: pointer;
}
.btn-right{
    margin-right: 4%;
    margin-top: 2%;
}
.project-list-btn, .project-list-btn span {
	transition: 200ms;
}
.project-list-btn {
    position: relative;
	width: 170px;
	height: 40px;
	display: flex;
	align-items: center;
	border: none;
	border-radius: 5px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #a142b6;
    float: right;
    margin-right: 2.5%;
    margin-bottom: 1%;
}

.project-list-btn .text {
	transform: translateX(10px);
	color: white;
	font-weight: bold;
}

.project-list-btn .icon {
	position: absolute;
	border-left: 1px solid #d1d1d1;
	transform: translateX(130px);
	height: 40px;
	width: 40px;
	display: flex;
	justify-content: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
    }


.project-list-btn:hover {
	background: #a142b6;
}

.project-list-btn:hover .text {
	color: transparent;
}

.project-list-btn:hover .icon {
	width: 170px;
	border-left: none;
	transform: translateX(0);
}

.project-list-btn:focus {
	outline: none;
}