.project-user-add-table{
    margin-left: 3%;
    margin-bottom: 3%;
    margin-top: 5%;
    width: 90%;
}
.project-user-add{
    padding-left: 12px;
    display: block;
    background-color: rgb(55, 48, 91);
    width: 13%;
    height: auto;
    position: absolute;
    margin-top: 18%;
    border-radius: 10px;
    padding-top: 15px;
    padding-right: 10px;
    margin-left: 23%;
    min-width: 200px;
}
.select-project-user-add{
    margin-top: 3%;
}
#invalid-user{
    color: red;
    margin-top: -3%;
    margin-bottom: 3%;

}