.details-box{
    background-color: #11121f;
    width: 100%;
    height: auto;
    display: inline-table;
}
table{
    border-collapse: collapse;
    text-align: center; 
    width: 85%;
}
.project-details-x{
    font-size: 20px;
}
.fa-xmark{
cursor: pointer;
}
#fill{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 75px;
}
table tr td{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}