.details-box{
    background-color: #11121f;
    width: auto;
    height: auto;
}
table{
    border-collapse: collapse;
    text-align: center;
    width: 85%;

}
.project-details-x{
    margin-top: -4.5%;
    font-size: 20px;
}
.details-right-btn{
    margin-right: 2%;
}
.details-table{
    margin-left: 7%;
    margin-top: 2%;
    padding-bottom: 5%;
}