.update{
    display: inline-table;
    position: absolute;
    height: 40vh;
    background-color: rgb(55, 48, 91);
    width: 12%;
    margin-left: 9%;
    margin-bottom: 5%;
    border-radius: 10px;
    margin-top: 15%;
    padding-top: 1%;
}
.update-line{
    width: 100%;
    background-color: white;
    font-weight: bold;
    margin: 0;
    margin-top: 3%;
}
.project-edit-hr-line{
    width: 100%;
    background-color: white;
    font-weight: bold;
    margin: 0;
    margin-bottom: 5%;
}
.project-edit-btn{
    margin-right: 5%;
}